.background{
  padding-bottom:20px;
  margin-top:0;
  padding-top:0;
  height:100vh;
}
.AppBar{
  position: fixed;

}

.Feed{

}

.hideFeed{
  opacity:0;
  overflow:hidden;
  height:0vh;
}

h1{
  padding-left:10px;
}

.login_true{
  opacity:0;
  overflow:hidden;
  height:0vh;
}
.hidden{
  opacity:0;
  overflow:hidden;
  height:0vh;
}

.picture{
  overflow:hidden;

}
