.profilepic{
  float:left;
  margin-top:10px;
  margin-left:20px;

}

.Profile{
  width:70%;
  float:right;
}

.background{
  background-color: #fff;

}

.posts{
  margin-top:20px;
}

.header{
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
}
